{% extends "base.html" %}

{% block title %}Create Account - Banking System{% endblock %}

{% block content %}
<div class="row flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="card custom-card shadow-lg">
            <div class="card-body text-bg-success p-5">
                <h2 class="text-center mb-4">Create New Account</h2>
                <form method="POST" action="{{url_for('createaccount')}}">
                    <div class="mb-4">
                        <label for="mpassword" class="form-label fs-5">Password</label>
                        <input type="password" class="form-control" id="mpassword" name="mpassword" required>
                    </div>
                    <div class="mb-4">
                        <label for="amount" class="form-label fs-5">Initial Deposit Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required step="0.01" min="0">
                    </div>
                    <div class="d-grid gap-2 mt-5">
                        <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
